/backups/
/crafting/
/logs/
/misc/
/temp/
/SWGAide.DAT
/SWGAide.jar
/.settings/
/mails/
/docs/
/album/
/trash/
/index.html
/bin/
SWGAide-NGE.jar
SWGAide-NGE.exe
META-INF/
javax/
SWGAide.OLDAT
*.DAT
SWGAide.INI
SWGAide.INI
SWGAide.INI
/nbproject/
/build/
/apple/
/com/
build.xml
contents2.txt
contents.txt
SWGAide.DATback
SWGAide.INI
TESTOLD-20/
SWGAide-Unity.jar
SWGAide-Unity.exe
*.class
/target/
dependency-reduced-pom.xml
