@charset "utf-8";
/* CSS Document */
body { font-family:Arial, Helvetica, sans-serif; background:#FFFFFF; color:#000000; }
html, body { height: 100%; padding: 0; }
pre {font : 11px monaco; color : black; background-color : #fafafa; }
li {margin-left:1em;} 
