/SWGCategory.class
/SWGComponentSlot.class
/SWGExperimentGroup.class
/SWGExperimentLine.class
/SWGResourceSlot.class
/SWGSchematic.class
/SWGSchematicsManager$1.class
/SWGSchematicsManager$2.class
/SWGSchematicsManager$3.class
/SWGSchematicsManager$ResourceAmount.class
/SWGSchematicsManager.class
/SWGProfession.class
/SWGProfessionLevel$1.class
/SWGProfessionLevel.class
