/SWGAbility.class
/SWGAliases$1.class
/SWGAliases$SWGAliasesList.class
/SWGAliases.class
/SWGAttribute.class
/SWGCGalaxy.class
/SWGCharacter$1.class
/SWGCharacter.class
/SWGGalaxy$1.class
/SWGGalaxy$2.class
/SWGGalaxy$3.class
/SWGGalaxy.class
/SWGMacros.class
/SWGModifier.class
/SWGNotes.class
/SWGPlanet$1.class
/SWGPlanet.class
/SWGProfession.class
/SWGProfessionLevel$1.class
/SWGProfessionLevel.class
/SWGProfessionManager.class
/SWGSkill.class
/SWGSpecies.class
/SWGStation$1.class
/SWGStation$2.class
/SWGStation.class
/SWGUniverse.class
/SWGCGalaxy$1.class
/SWGStation$3.class
