/ResourceUpdate$UpdateType.class
/ResourceUpdate.class
/SWGKnownResource.class
/SWGMutableResource.class
/SWGPlanetAvailabilityInfo.class
/SWGResource.class
/SWGResourceCache.class
/SWGResourceClass$SWGResourceClassRoot.class
/SWGResourceClass.class
/SWGResourceClassTree$RCNode.class
/SWGResourceClassTree.class
/SWGResourceFilter.class
/SWGResourceList.class
/SWGResourceMgr$1.class
/SWGResourceMgr.class
/SWGResourceSet.class
/SWGResourceStats.class
/SWGWeightComparator.class
/SWGResourceClassInfo.class
/SWGWayPointInfo.class
